body
{
    background-image: url('npc leader.jpg');
}
p
{
    font-family: aaaaa;
    font-size: 12px;
}
p.citat
{
    font-style: italic;
    font size: 11px;
    border: 1px solid #000;
    background-color: #fff000;
}
p.drugi
{
    font-color:'firebrick';
    text-align: center;
    text-decoration: underline;
}
p.treci
{
    text-align: right;
}
    
    
