body
{
    background-image: url('whgwhfwufwji.jpg');
}

p.citat
{
    font-style: italic;
    font size: 11px;
    border: solid #000;
    background-color: #fff000;
}
p.drugi
{
    font-color: #b22222;
    text-align: right;
    text-decoration: underline;
    border-width: thick;
    border-style: inset;
    border-left-color: #008000;
    bottom-color: #008000;
    border-right-color: #008000;
    border-top-color: #008000;
}
p.treci
{
    text-align: right;
}
    
    
